extends ../layouts/main-layout.pug

block title 
    title #{pageTitle}

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content 
    main 
        if errorMessage 
                div.user-message.user-message--error #{errorMessage}

        form(class="login-form" action="/signup", method="post")
            .form-control 
                label(for="email") E-Mail 
                input(type="text", name="email", id="email", value=(oldInput.email), class=(validationErrors.find(item => item.param === "email") ? "invalid" : ""))
            .form-control 
                label(for="password") Password 
                input(type="password", name="password", id="password", value=(oldInput.password), class=(validationErrors.find(item => item.param === "password") ? "invalid" : ""))
            .form-control 
                label(for="confirmPassword") Confirm Password
                input(type="password", name="confirmPassword", id="confirmPassword", value=(oldInput.confirmPassword), class=(validationErrors.find(item => item.param === "confirmPassword") ? "invalid" : ""))
            button(class="btn", type="submit") signUp
            input(type="hidden", name="_csrf", value=(csrfToken))
