extends ../layouts/main-layout.pug

block title 
    title #{pageTitle}

block content 
    main.centered
        h1 #{title}
        hr
        div 
            img(src=(prd.imageUrl), alt=(prd.title))
        h2 #{prd.price}
        p   #{prd.description}
        if isAuthenticated
            form(action="/cart", method="POST")
                button(type="submit").btn Add to Cart
                input(type="hidden", name="productId", value=(id))